@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box

}
body {
    height: 95vh;
    font-family: 'Roboto';
}
.form__wrapper{
    max-width:350px;
    margin: 0 auto;
    padding:1rem;
}
section {
    display: flex; 
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}
.form__header{
    text-align: center;
    font-weight: bolder;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #443385;
    border-radius: 6px ;
    padding: 2rem;
    box-shadow: -9px 9px 0 #4333855d;
    
}

.form__input {
    border: none;
    outline: none;
    border-bottom: 2px solid #443385 ;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    padding-bottom:.75rem ;
}
.form__input::-webkit-inner-spin-button{
    display: none;
}

.form__label {
    font-size: .78rem;
    color: #5c29db;
    font-weight: bold;

}

.form__button{
    appearance: none;
    border: none;
    background-color:#443385 ;
    color: #fff;
    padding: 2rem;
    width: 100%;
    font-size: 1.2rem ;
    font-weight: 600;
    box-shadow: -5px 5px 0  #5b29db3b;
}